# start.config - Lab soc-patch-pwn (KB5 Hybrid: Patch & Pwn)
# attacker (C) tan cong command-injection vao targeta (A) -> SV VA (Blue).
# SV dung chinh ky thuat do PWN targetb (B) qua HTTP de lay flag (Red).

GLOBAL_SETTINGS
	LAB_MASTER_SEED soc-patch-pwn_student_master_seed
	GRADE_CONTAINER targeta

NETWORK  SOC_NET
	MASK 172.20.0.0/24
	GATEWAY 172.20.0.101

# --- A: he cua sinh vien (web loi + Wazuh agent). SV phai VA de chan C ---
CONTAINER targeta
	USER ubuntu
	SOC_NET 172.20.0.10
	ADD-HOST attacker:172.20.0.5
	ADD-HOST siem:172.20.0.20
	ADD-HOST targetb:172.20.0.40
	TERMINALS 1

# --- B: he loi tuong tu, CHI truy cap qua HTTP (khong SSH). SV PWN lay flag ---
CONTAINER targetb
	USER ubuntu
	SOC_NET 172.20.0.40
	TERMINALS 0

# --- C: ke tan cong, chay ngam, ban command-injection vao A ---
CONTAINER attacker
	USER ubuntu
	SOC_NET 172.20.0.5
	ADD-HOST targeta:172.20.0.10
	TERMINALS 0

# --- SIEM: Wazuh (indexer + server + dashboard) ---
CONTAINER siem
	USER ubuntu
	SOC_NET 172.20.0.20
	ADD-HOST targeta:172.20.0.10
	ADD-HOST attacker:172.20.0.5
	TERMINALS 1

# --- DEFENDER: tram sinh vien - Firefox xem dashboard + curl/python pwn B ---
CONTAINER defender
	USER ubuntu
	SOC_NET 172.20.0.30
	ADD-HOST siem:172.20.0.20
	ADD-HOST targeta:172.20.0.10
	ADD-HOST targetb:172.20.0.40
	ADD-HOST attacker:172.20.0.5
	X11 YES
	TERMINALS 1
