# goals.config - Hybrid Blue + Red

# Phat hien
siem_detected = boolean : _siem_detected
agent_connected = boolean : _agent_connected
reported = boolean : _reported

# BLUE: he A het dinh inject NHUNG dich vu van song
blue_done = boolean : ( _a_marker and _a_service and_not _a_vuln )
# RED: pwn duoc he B (lay dung flag)
red_done  = boolean : _b_pwned

# MUC TIEU TONG: hoan thanh ca Blue va Red
mission_complete = boolean : ( _a_marker and _a_service and_not _a_vuln and _b_pwned )
