# goals.config - tieu chi dat/khong dat (Leo thang dac quyen)

# Phat hien / dieu tra
threat_detected  = boolean : _siem_detected
agent_connected  = boolean : _agent_connected
reported_iocs    = boolean : ( _rep1 and _rep2 )

# Hardening (va ca 2 duong leo quyen)
suid_fixed       = boolean : ( _marker and_not _suid_vuln )
sudo_fixed       = boolean : ( _marker and_not _sudo_vuln )

# MUC TIEU TONG: va CA HAI lo hong leo quyen
incident_resolved = boolean : ( _marker and_not _suid_vuln and_not _sudo_vuln )
